extends layout

block body

  #welcome.jumbotron
    h3 Welcome to Flare, a Spark dashboard.
    p.lead.
      Please login or register.
    p.bigbutton
      a.bigbutton.btn.btn-lg.btn-primary(href='/register', role='button') Register
  #footer
    h6 This is an open source project. Fork it on github <a href="https://github.com/baird/flare">here</a>.
