doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Flare, a Spark Dashboard')
    meta(name='keywords', content='spark, flare')
    title= 'Flare | ' + title
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='client/styles/main.css', rel='stylesheet')
    style.
    <!--[if lt IE 9 ]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    .container
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Flare
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right(id='#{activenav}')
                if user
                  li.dashboard
                    a(href='/dashboard') Dashboard
                  li.events
                    a(href='/events') Events
                  li.settings
                    a(href='/settings') Settings
                  li.logout
                    a(href='/logout') Logout
                else
                  li.login
                    a(href='/login') Login
      block body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='../client/scripts/events.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/sparkjs/0.2.0/spark.min.js')
    script(type='text/javascript', src='../client/scripts/settings.js')   
    script(type='text/javascript', src='../client/scripts/dashboard.js')
    script(type='text/javascript', src='../client/scripts/spin.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
