extends layout

block body
  script.
    var token = ("#{user.customData.token}")
  .settings
    .row
      .col-lg-12
        .jumbotron
          h5 If you already have a token listed below, you should have access to all of your cores and the ability to add new ones in the dashboard. However, if you want to login to Spark to refresh your authentication token, you can.
          button(onclick='saveToken()') Refresh token!
          h6 Current token is: #{user.customData.token}
    #footer
      h6 This is an open source project. Fork it on github <a href="https://github.com/baird/flare">here</a>.
