/*@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/

body {
  margin-top: 70px; /* Positions content (alert box) below static top nav */
}

ul.nav.navbar-nav.navbar-right {
  padding-right: 15px; /* Makes right nav padded from right edge */
}

/* pads rename field */
.input-group { padding-top: 5px; }
/* increase device name, push title left and pad pencil*/
.panel-title { font-size: 1.5em; padding-right: 2px;}
/* pads bottom of footer */
div.panel-footer { padding-bottom: 40px; }
/* in footer, id to left, version to right */
div.footer-id { float: left; }
div.footer-ver { float: right; }
/* pushes pencil down */
div.glyphicon-glyphicon.edit { padding-top: 8px; }
button.rename { float: right; }
/* dont show rename field by default*/
.input-group.rename0 { display: none; }
.input-group.rename1 { display: none; }
.input-group.rename2 { display: none; }
.input-group.rename3 { display: none; }

/* active menu items */
ul#dashboard li.dashboard { background-color: red; }
ul#events li.events { background-color: red; }
ul#settings li.settings { background-color: red; }
ul#logout li.logout { background-color: red; }
ul#login li.login { background-color: red; }

/*set spinner container*/

/*#spinner {
  -webkit-filter: blur(2px) opacity(0.8);
  background-color: FFFFFF;
  width: 100%;
  height: 100%;
}

.spinner {
  -webkit-filter: blur(2px) opacity(0.8);
  background-color: 333333;
}*/




