@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin-top: 70px; /* Positions content (alert box) below static top nav */
}

ul.nav.navbar-nav.navbar-right {
  padding-right: 15px; /* Makes right nav padded from right edge */
}

/* pads rename field */
.input-group { padding-top: 5px; }
/* increase device name, push title left*/
.panel-title { font-size: 1.5em; padding-right: 2px;}
/* pads bottom of footer */
div.panel-footer { padding-bottom: 40px; }
/* in footer, id to left, version to right */
div.footer-id { float: left; }
div.footer-ver { float: right; }
/* pushes pencil right & down */
button.rename { float: right; margin-top: 2px; }
/* pushes refresh right & down*/
button.refresh { float: right; margin-top: 2px; }
/* pushes add token right & down*/
button.wrench { float: right; margin-top: 2px; }
/* pushes remove token right & down*/
button.remove-circle { float: right; margin-top: 2px; }
/* pushes button glyphs down a bit*/
.glyphicon { top: 2px; }
/* Online/Offline icons*/
.powOn { 
	float: right;
	padding-left: 12px;
	padding-top: 4px;
	color: #78D750;
	font-size: 20px;
}
.powOff { 
	float: right;
	padding-left: 12px;
	padding-top: 4px;
	color: #CF4B5F;
	font-size: 20px;
}

/* dont show rename field by default*/
.input-group.rename0 { display: none; }
.input-group.rename1 { display: none; }
.input-group.rename2 { display: none; }
.input-group.rename3 { display: none; }

/* dont show device panel by default*/
.device0.panel { display: none; }
.device1.panel { display: none; }
.device2.panel { display: none; }
.device3.panel { display: none; }

/* dont show dash warning by default*/
.alert.alert-dismissable.alert-danger { display: none; }

/* active menu items */
ul#dashboard li.dashboard { background-color: red; }
ul#events li.events { background-color: red; }
ul#settings li.settings { background-color: red; }
ul#logout li.logout { background-color: red; }
ul#login li.login { background-color: red; }

/* footer */

.footer {
  text-align: center;
}

/* Spark login */

#spark-login-form-button {
  background: #4380B3 !important;
}

#spark-login-form {
  background: white;
}
.spark-login-modal {
  position:absolute;
  top: 25%;
  bottom: 25%;
}

.spark-login-button {
  background: rgba(11, 113, 199, 0.71) !important;
  border-radius: 5px !important;
}

.spark-login-input {
  border: 1px solid #D1D4DF !important;
}

/*.spark-login-error {
}*/

/*set spinner container*/

/*#spinner {
  -webkit-filter: blur(2px) opacity(0.8);
  background-color: FFFFFF;
  width: 100%;
  height: 100%;
}

.spinner {
  -webkit-filter: blur(2px) opacity(0.8);
  background-color: 333333;
}*/
